.menu_container {
  width: 85px;
  background-color: #165c7d;
  color: white;
  height: 100%;
  overflow: hidden;
  min-height: 649px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .menu_logo {
    margin-top: 27px;
  }

  .menu_icon {
    margin-top: 17px;
  }
}
