<div class="header_container">
  <div class="header_title">
    <div>
      <h2>NOVA ADMISSÃO COOPERADO</h2>
    </div>
    <div class="header_breadcrumb">
       <!-- breadcrumb  -->
       <span class="breadcrumb">
        Cadastro / Admissão de Cooperado / Nova Admissão de Cooperado
       </span>
    </div>
  </div>
  <div class="header_actions">
     <div class="header_bell_notification">
      <span class="material-symbols-rounded">
        notifications
        </span>
     </div>
     <div class="header_button">
      <button class="button_outline_header">VIACRED</button>
     </div>
     <div class="header_thumber">
      <span class="material-symbols-rounded">
       person
        </span>
     </div>
  </div>
</div>
