<div class="header_container">
  <div class="header_title">
    <div>
      <h2>NOVA ADMISSÃO COOPERADO</h2>
    </div>
    <div class="header_breadcrumb">
       <!-- breadcrumb  -->
       <span class="breadcrumb">
        Cadastro / Admissão de Cooperado / Nova Admissão de Cooperado
       </span>
    </div>
  </div>
  <div class="header_actions">
     <div class="header_bell_notification">
        <i class="pi pi-bell" style="font-size: 1.6rem; " pBadge value="2" severity="danger"></i>
     </div>
     <div class="header_button">
      <button class="button_outline_header">VIACREDI</button>
     </div>
     <div class="header_thumber">
      <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png" styleClass="mr-2" shape="circle"></p-avatar>
     </div>
  </div>
</div>
